@font-face {
    font-family: LLBrown-Bold;
    src: url('LLBrown-Bold.otf');
}
@font-face{
    font-family: LLBrown-Regular;
    src: url('LLBrown-Regular.otf');
}
@font-face {
    font-family: Neue;
    src: url('Neue.otf');
}
@font-face {
    font-family: HNM;
    src: url('HNM.ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTQ7aC6SjiAOpAWOKfJDfVRY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
 }

.top {
    margin: 0;
    background: #0066ff;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-family: Open Sans;
    font-size: 12.8px;
}

.bold {
    font-family: LLBrown-Bold;
}

.Title {
    font-family: LLBrown-Bold;
    font-size: 29.12px;
    margin-top: 20px;
}
.home {
	margin-top: 20px;
	font-size: 18px;
}
.qna {
	text-align: center;
	font-family: LLBrown-Regular;
	font-size: 31.32px;
}

.QNA {
  position: absolute;
  margin: auto;
  margin-top: 10px;
  padding-left: 25px;
}

.QNAD {
	margin-top: 20px;
}

.Q {
	text-align: left;
	font-family: LLBrown-Bold;
	font-size: 19px;
}

.A {
	text-align: justify;
	font-family: LLBrown-Regular;
	font-size: 17px;
	color: #c2c6c4;
}

.two {
	margin-top: 30px;
}

.space {
	padding-top: 30px;
	padding-bottom: 30px;
}

.Row2 {
  padding-bottom: 35px;
}

.FWrap {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    border-color: black;
    background: white;
    padding: 10px 15px;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: 65vh;
}

.FHead {
    font-family: LLBrown-Bold;
    font-size: 22px;
}

.FSub {
    font-family: LLBrown-Regular;
    font-size: 17px;
    line-height: 30px;
    width: 80%;
    color: #acafae;
}

.FBtn {
    border-radius: 5px;
    background-color: #0066ff;
    color: white;
    width: 30%;
    height: 50px;
    padding: 20px 24px;
    margin: 5px 10px;
    text-decoration: none !important;
    transition: 0s;
    font-size: 15px;
    font-family: LLBrown-Bold;
    margin-top: -40px;
}

.FBtn:hover {
    color: white;
    position: relative;
    top: -2px;
}

.footer {
  background: white;
  height: 10vh;
  margin-top: 10vh;
  text-align: center;
}

.FName {
    color: #c2c6c4;
    font-family: LLBrown-Bold;
    font-size: 16px;
}