/*.wrapper {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

.loaded {
  opacity: 1;
}*/
@font-face {
    font-family: HNT;
    src: url('css2/HNT.ttf');
}

@font-face {
    font-family: LLBrown-Bold;
    src: url('LLBrown-Bold.otf');
}
@font-face{
    font-family: LLBrown-Regular;
    src: url('LLBrown-Regular.otf');
}
@font-face {
    font-family: Neue;
    src: url('Neue.otf');
}
@font-face {
    font-family: HNM;
    src: url('HNM.ttf');
}

::selection {
  background: white; /* WebKit/Blink Browsers */
}

.home {
    font-family: LLBrown-Regular;
}

.prototype {
    margin-top: 60px;
}

.top {
    margin: 0;
    background: #0066ff;
    color: white;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 0.8em;
}

.Head {
	margin-top: 5px;
}

.bold {
    font-family: LLBrown-Bold;
}

.Title {
    font-family: LLBrown-Bold;
    font-size: 35px;
    margin-top: 20px;
    overflow: none;
}

.Nav {
	font-size: 25px;
	display: inline-block;
	text-decoration: none;
}

.SubHead {
    font-family: Neue;
	text-align: center;
	font-size: 30px;
    margin-top: 45px;
	color: #373737;
}

.laptop {
    margin-top: 20px;
    padding-bottom: 20px;
}

.signups {
    box-sizing: border-box;
    border: 2px solid red;
}

.panel {
    align: middle;
    margin-left: 40px;
    margin-top: 50px;
}

.hd {
    font-family: LLBrown-Bold;
    font-size: 24px;
    color: black;
    transition: 0.6s;
}

#nerd {
    margin-bottom: -5px;
}

.hd:hover {
    color: #0066ff;
}

.subft {
    font-family: LLBrown-Regular;
    text-align: justify;
    width: 100%;
    color: #acafae;
    line-height: 25px;
}

.dsh {
    text-align: center;
    letter-spacing: -1.5px;
}

.dshc {
    letter-spacing: -1.5px;
}

.Com {
    padding-left: 60px;
    margin-top: 90px;
    background: white;

}

.wrap {
    padding-top: 30px;
}

#SI {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 8px 15px;
    margin-top: -10px;
    margin-left: 36px;
    color: #141414;
}

#SI:hover {
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #141414;
    padding: 8px 15px;
    margin-top: -10px;
    margin-left: 36px;
    color: white;
    background-color: #141414;
}

#FT {
    background-color: #31e0a8;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    padding: 10px 15px;
    margin-top: -12px;
    margin-left: 10px;
    color: white;
}

.h1, ul.topnav li a {
	display: inline;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding:0px;
    overflow: hidden;
    font-size: 25px;
    padding-top: 25px;
    font-size: 18.09px;
    font-family: LLBrown-Regular;
    margin-left: 100px;
}

ul.topnav li {
	float: left;
}
ul.topnav li a {
    display: inline-block;
    color: #373737;
    text-align: center;
    text-decoration: none;
    padding-left: 25px;
    transition: 0.6s;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    border-style: solid;
    border-radius: 3px;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
	display: none;
}

.bold {
    font-family: HNM;
}


.Power {
    font-family: LLBrown-Bold;
    text-align: center;
    margin-top: 8vh;
    font-size: 30px;
}
.company {
    margin-left: 50px;
    opacity: 0.1;
    transition: 0.6s;
    margin-top: 5vh;
}

.company:hover {
    opacity: 1;
}

.goog {

}

.pricing-head {
    font-family: Neue;
    text-align: center;
    font-size: 3.0em;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #2d3d4f;
}

a {
    text-decoration: none;
}

.pricing-container {
    width: 90%;
    max-width: 1170px;
    margin: 4em auto;
}

.pricing-container {
    margin: 6em auto;
}
.pricing-container.full-width {
    width: 100%;
    max-width: none;
}

.pricing-switcher {
    text-align: center;
}

.pricing-switcher .fieldset {
    display: inline-block;
    position: relative;
    padding: 2px;
    border-radius: 50em;
    border: 2px solid #2d3e50;
}

.pricing-switcher input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.pricing-switcher label {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    width: 90px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #ffffff;
}

.pricing-switcher .switch {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 40px;
    width: 90px;
    background-color: #2d3e50;
    border-radius: 50em;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}

.pricing-switcher input[type="radio"]:checked + label + .switch,
.pricing-switcher input[type="radio"]:checked + label:nth-of-type(n) + .switch {
    -webkit-transform: translateX(90px);
    -moz-transform: translateX(90px);
    -ms-transform: translateX(90px);
    -o-transform: translateX(90px);
    transform: translateX(90px);
}

.no-js .pricing-switcher {
    display: none;
}

.pricing-list {
    margin: 2em 0 0;
}

.pricing-list > li {
    position: relative;
    margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  .pricing-list {
    margin: 3em 0 0;
  }
  .pricing-list:after {
    content: "";
    display: table;
    clear: both;
  }
  .pricing-list > li {
    width: 33.3333333333%;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
  }
  .has-margins .pricing-list > li {
    width: 32.3333333333%;
    float: left;
    margin-right: 1.5%;
  }
  .has-margins .pricing-list > li:last-of-type {
    margin-right: 0;
  }
}

.pricing-wrapper {
    position: relative;
}

.touch .pricing-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    perspective: 2000px;
}

.pricing-wrapper.is-switched .is-visible {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: rotate 0.5s;
    -moz-animation: rotate 0.5s;
    animation: rotate 0.5s;
}

.pricing-wrapper.is-switched .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse 0.5s;
    -moz-animation: rotate-inverse 0.5s;
    animation: rotate-inverse 0.5s;
    opacity: 0;
}

.pricing-wrapper.is-switched .is-selected {
    opacity: 1;
}

.pricing-wrapper.is-switched.reverse-animation .is-visible {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-animation: rotate-back 0.5s;
    -moz-animation: rotate-back 0.5s;
    animation: rotate-back 0.5s;
}

.pricing-wrapper.is-switched.reverse-animation .is-hidden {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    -webkit-animation: rotate-inverse-back 0.5s;
    -moz-animation: rotate-inverse-back 0.5s;
    animation: rotate-inverse-back 0.5s;
    opacity: 0;
}

.pricing-wrapper.is-switched.reverse-animation .is-selected {
    opacity: 1;
}

.pricing-wrapper > li {
    background-color: #ffffff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
}

.pricing-wrapper > li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    pointer-events: none;
    background: -webkit-linear-gradient( right , #ffffff, rgba(255, 255, 255, 0));
    background: linear-gradient(to left, #ffffff, rgba(255, 255, 255, 0));
}

.pricing-wrapper > li.is-ended::after {
    display: none;
}

.pricing-wrapper .is-visible {
    position: relative;
    z-index: 5;
}

.pricing-wrapper .is-hidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.pricing-wrapper .is-selected {
    z-index: 3 !important;
}

@media only screen and (min-width: 768px) {
  .pricing-wrapper > li::before {
    content: '';
    position: absolute;
    z-index: 6;
    left: -1px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: #b1d6e8;
  }
  .pricing-wrapper > li::after {
    display: none;
  }
  .exclusive .pricing-wrapper > li {
    box-shadow: inset 0 0 0 3px #2d3e50;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    border-color: black;
  }
  .has-margins .pricing-wrapper > li,
  .has-margins .exclusive .pricing-wrapper > li {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }
  :nth-of-type(1) > .pricing-wrapper > li::before {
    display: none;
  }
  .has-margins .pricing-wrapper > li {
    border-radius: 4px 4px 6px 6px;
  }
  .has-margins .pricing-wrapper > li::before {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .full-width .pricing-wrapper > li {
    padding: 2.5em 0;
  }
}

.no-js .pricing-wrapper .is-hidden {
    position: relative;
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
    margin-top: 1em;
}

@media only screen and (min-width: 768px) {
  .exclusive .pricing-wrapper > li::before {
    display: none;
  }
  .exclusive + li .pricing-wrapper > li::before {
    display: none;
  }
}

.pricing-header h2 {
    padding: 0.9em 0.9em 0.6em;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.pricing-header {
    height: auto;
    padding: 1.9em 0 1.6em;
    pointer-events: auto;
    text-align: center;
    color: #173d50;
    background-color: transparent;
}

.exclusive .pricing-header {
    color: #0066ff;
    background-color: transparent;
}

.pricing-header h2 {
    font-size: 2.8rem;
    letter-spacing: 2px;
}

.currency,
.value {
    font-size: 3rem;
    font-weight: 300;
}

.duration {
    font-weight: 700;
    font-size: 1.3rem;
    color: #0066ff;
    text-transform: uppercase;
}

.exclusive .duration {
    color: #0066ff;
}

.duration::before {
    content: '/';
    margin-right: 2px;
}

.value {
    font-size: 7rem;
    font-weight: 300;
}

.currency, 
.duration {
    color: #0066ff;
}

.exclusive .currency,
.exclusive .duration {
    color: #2d3e50;
}

.currency {
    display: inline-block;
    margin-top: 10px;
    vertical-align: top;
    font-size: 2rem;
    font-weight: 700;
}

.duration {
    font-size: 1.4rem;
}

.pricing-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.is-switched .pricing-body {
  overflow: hidden;
}

.pricing-body {
    overflow-x: visible;
}

.pricing-features {
    width: 600px;
}

.pricing-features:after {
    content: "";
    display: table;
    clear: both;
}

.pricing-features li {
    width: 100px;
    float: left;
    padding: 1.6em 1em;
    font-size: 1.5rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricing-features em {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.pricing-features {
    width: auto;
}

.pricing-features li {
    float: none;
    width: auto;
    padding: 1em;
}

.exclusive .pricing-features li {
    margin: 0 3px;
}
  
.pricing-features em {
    display: inline-block;
    margin-bottom: 0;
}

.has-margins .exclusive .pricing-features li {
    margin: 0;
}

.pricing-footer {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
}

.pricing-footer {
    position: relative;
    height: auto;
    padding: 1.8em 0;
    text-align: center;
}

.pricing-footer::after {
    display: none;
}

.has-margins .pricing-footer {
    padding-bottom: 0;
}

.select {
    position: relative;
    z-index: 1;
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}

.select {
    position: static;
    display: inline-block;
    height: auto;
    padding: 1.3em 2em;
    color: #0066ff;
    border-radius: 8px;
    border: 2px solid #0066ff;
    font-size: 1.4rem;
    text-indent: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all .6s;
    width: 70%;
}

.no-touch .select:hover {
    background-color: #0066ff;
    color: #ffffff;
}

.exclusive .select {
    background-color: #0066ff;
    color: #ffffff;
}
  
.no-touch .exclusive .select:hover {
    background-color: #63a1ff;
}
  
.secondary-theme .exclusive .select {
    background-color: #0066ff;
}
  
.no-touch .secondary-theme .exclusive .select:hover {
    background-color: #63a1ff;
}
  
.has-margins .select {
    display: block;
    padding: 1.7em 0;
    border-radius: 0 0 4px 4px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(200deg);
    -moz-transform: perspective(2000px) rotateY(200deg);
    -ms-transform: perspective(2000px) rotateY(200deg);
    -o-transform: perspective(2000px) rotateY(200deg);
    transform: perspective(2000px) rotateY(200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
  }
}

@-webkit-keyframes rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}

@-moz-keyframes rotate-inverse {
  0% {
    -moz-transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}

@keyframes rotate-inverse {
  0% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(20deg);
    -moz-transform: perspective(2000px) rotateY(20deg);
    -ms-transform: perspective(2000px) rotateY(20deg);
    -o-transform: perspective(2000px) rotateY(20deg);
    transform: perspective(2000px) rotateY(20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}

@-webkit-keyframes rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
  }
}

@-moz-keyframes rotate-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(-180deg);
  }
}

@keyframes rotate-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-200deg);
    -moz-transform: perspective(2000px) rotateY(-200deg);
    -ms-transform: perspective(2000px) rotateY(-200deg);
    -o-transform: perspective(2000px) rotateY(-200deg);
    transform: perspective(2000px) rotateY(-200deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(-180deg);
    -moz-transform: perspective(2000px) rotateY(-180deg);
    -ms-transform: perspective(2000px) rotateY(-180deg);
    -o-transform: perspective(2000px) rotateY(-180deg);
    transform: perspective(2000px) rotateY(-180deg);
  }
}

@-webkit-keyframes rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
  }
}

@-moz-keyframes rotate-inverse-back {
  0% {
    -moz-transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -moz-transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -moz-transform: perspective(2000px) rotateY(0);
  }
}

@keyframes rotate-inverse-back {
  0% {
    -webkit-transform: perspective(2000px) rotateY(180deg);
    -moz-transform: perspective(2000px) rotateY(180deg);
    -ms-transform: perspective(2000px) rotateY(180deg);
    -o-transform: perspective(2000px) rotateY(180deg);
    transform: perspective(2000px) rotateY(180deg);
  }
  70% {
    -webkit-transform: perspective(2000px) rotateY(-20deg);
    -moz-transform: perspective(2000px) rotateY(-20deg);
    -ms-transform: perspective(2000px) rotateY(-20deg);
    -o-transform: perspective(2000px) rotateY(-20deg);
    transform: perspective(2000px) rotateY(-20deg);
  }
  100% {
    -webkit-transform: perspective(2000px) rotateY(0);
    -moz-transform: perspective(2000px) rotateY(0);
    -ms-transform: perspective(2000px) rotateY(0);
    -o-transform: perspective(2000px) rotateY(0);
    transform: perspective(2000px) rotateY(0);
  }
}

.qna {
    text-align: center;
    font-family: Neue;
    font-size: 40px;
    padding-bottom: 50px;
}

.QNA {
  position: relative;
  margin: auto;
  padding-left: 25px;
  width: 95%
}

.Q {
    text-align: left;
    font-family: LLBrown-Bold;
    font-size: 19px;
    padding-bottom: 8px;
}

.A {
    text-align: justify;
    font-family: LLBrown-Regular;
    font-size: 17px;
    color: #c2c6c4;
    line-height: 23px;
}

.Row2 {
  padding-bottom: 35px;
}

.wrap {
    padding-bottom: 145px;
    padding-top: 40px;
}

.signcol {
    text-align: center;
    padding: 0 5px;
    margin:20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.signup{
    margin: 0 auto;
    background-color: #eee;
    width: 50vw;
    padding: 0 0;
    border-radius: 5px;
    height: 60px;
}

.signup input{
    border: none;
    outline: none;
}

.signup input[name=email]{
    font-family: LLBrown-Regular;
    text-transform: uppercase;
    font-size: 0.8em;
    background: none;
    margin: 0 20px;
    width: 60%;
    float: left;
    line-height: 60px;
    height: 100%;
    position: relative;
}

.signup input[name=sub] {
    background-color: #0066ff;
    color: white;
    width: 30%;
    height: 50px;
    padding: 15px 20px;
    margin: 5px 10px;
    border-radius: 5px;
}

.pMsg {
  width: 500px;
  color: white;
  text-align: justify;
  margin-left: 45%;
  margin-top: -8%;
  font-size: 20px;
}

.pp {
  margin-left: 31%;
  margin-top: 4%;
}

.Social {
  text-decoration: none;
  margin-top: 7.5%;
  transition: 0.2s;
  opacity: 1.0;
  filter: alpha(opacity=50);
  margin-left: 44%;
  position: absolute;
}

.Social:hover {
  opacity: 0.5;
  filter: alpha(opacity=100);
}

.launch {
  position: absolute;
  margin-top: 5.3%;
  color: #48484A;
  margin-left: 41.4%;
}

.launch a {
  color: white;
  text-decoration: none;
}

.footer {
  background: white;
  height: 10vh;
  margin-top: 10vh;
  text-align: center;
}

.FName {
    color: #c2c6c4 !important;
    font-family: LLBrown-Bold;
    text-decoration: none;
}

.Cop {
  position: absolute;
  padding-top: 4.5vh;
  padding-bottom: 1vh;
  text-align: center;
  color: #fff;
  margin-top: 7%;
  margin-left: 40%;
}

.FWrap {
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.25);
    border-color: black;
    background: white;
    padding: 10px 15px;
    height: 300px;
    width: 80%;
    margin: auto;
    margin-top: -30px;
}

#Robot {
    margin-bottom: -5px;
}

.FHead {
    font-family: LLBrown-Bold;
    font-size: 22px;
}

.FSub {
    font-family: LLBrown-Regular;
    font-size: 17px;
    line-height: 30px;
    width: 80%;
    color: #acafae;
}

.FBtn {
    border-radius: 5px;
    background-color: #0066ff;
    color: white;
    width: 30%;
    height: 50px;
    padding: 20px 24px;
    margin: 5px 10px;
    text-decoration: none !important;
    transition: 0s;
    font-size: 15px;
    font-family: LLBrown-Bold;
}

.FBtn:hover {
    color: white;
    position: relative;
    top: -2px;
}

.pcol {
    margin-top: -50px;
}

ul.topnav2 li a {
    display: inline;
}

ul.topnav2 {
    list-style-type: none;
    overflow: hidden;
    font-size: 15px;
    font-family: LLBrown-Regular;
    margin-top: -38px;
    margin-left: -10px;
}

ul.topnav2 li {
    display: inline;
}

ul.topnav2 li a {
    display: inline-block;
    color: #acafae;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    transition: 0.6s;
}

/* Change background color of links on hover */
ul.topnav2 li a:hover {
    color: #0066ff;
    border-style: solid;
    border-radius: 3px;
    border-color: #0066ff;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav2 li.icon {
    display: none;
}

.inpp {
    display: inline-block;
    font-family: LLBrown-Regular;
}

.tname {
    font-family: LLBrown-Bold;
}